.container {
  max-width: auto;
  margin: 0 auto;
  
}

.header {
  display: flex;
  align-items: center;
  background-color: #1ca339;
  padding: 15px 30px;
  border-bottom: 4px solid #0f7f29;
  position: relative;
}

.pageTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
}

.homeButton {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  color: #1ca339;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  transition: all 0.3s;
  margin-right: auto;
  z-index: 2;
}

.headerSubtitle {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.homeButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.field {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.required {
  color: #f85767;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.errorMessage {
  color: #f85767;
  font-size: 14px;
}

.gridCols2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}

.cancelButton {
  background-color: #9e9e9e;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #62c04f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: #8de055;
}